*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: "Arial",sans-serif;
    display:flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    background-color:#000;
    color:white;
}
input{
    display:non;
}
.key_container{
    position: relative;
    display:grid;
    grid-template-columns: repeat(30,30px);
    grid-template-rows: repeat(5,60px);
    grid-gap:5px;
    border-bottom: 3px solid #777;
    border-radius: 10px;
    background-color:#202020;
    padding:20px;
    transform: scale(0.7);
}
.key{
    grid-column: span 2;
    text-align: center;
    padding-top: 17px;
    font-size:20px;
    color:#fff;
    cursor: pointer;
    border-color: #666 #333 #000 #333;
    border-style: solid;
    border-width:1px 2px 4px 2px;
    border-radius: 5px;
    background-color:#202020;
}
.key:active{
    transform: translateY(2px) scale(0.98);
    border-bottom-width: 2px;
}
.key:focus{
    outline: none;
}
.delete{
    grid-column:span 4;
}
.tab{
    grid-column:span 3;
}
.backslash{
    grid-column:span 3;
}
.capslock{
    grid-column:span 4;
}
.enter{
    grid-column:span 4;
}
.leftshift, .rightshift{
    grid-column:span 5;
}
.leftctrl, .rightctrl{
    grid-column:span 3;
}
.key.command {
    grid-column: span 2;
  }
.space{
    grid-column:span 13;
}
.alt{
    grid-column:span 3;    
}

#red:checked ~ .key_container .key{
    color: #ff0000;
    border-color: #ff0000;
}
#green:checked ~ .key_container .key{
    color:#00ff00;
    border-color: #00ff00;
}
#yellow:checked ~ .key_container .key{
    color: #fbf000;
    border-color: #fbf000;
}
#blue:checked ~ .key_container .key{
    color: #00ff;
    border-color: #00ff;
}
#purple:checked ~ .key_container .key{
    color:purple;
    border-color:purple;
}
#orange:checked ~ .key_container .key{
    color: orange;
    border-color: orange;
}